@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
  line-height: 1;
  scroll-behavior: smooth;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  min-height: 83px;
  padding-top: 15px;
  padding-bottom: 15px;
}
header .icon {
  max-width: 150px;
  max-height: 25px;
}
header .weather {
  display: flex;
  flex-direction: row;
}
header .weather .icon-weather svg {
  width: 51px;
  height: 33px;
}
header .weather .icon-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  min-height: 83px;
  background-color: #F70058;
}
header .weather .weather-list {
  display: flex;
  flex-direction: column;
  min-height: 83px;
  background-color: #0C0E36;
  padding-top: 19px;
  padding-right: 13px;
  padding-left: 9px;
  padding: 5px;
}
header .weather .weather-list span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7019607843);
  margin-bottom: 20px;
}
header .weather .weather-list .celcius::after {
  content: " -6°C";
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
header .weather .weather-list .snowfall {
  margin-bottom: 0;
}
header .weather .weather-list .snowfall::after {
  content: " 35cm";
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.hero {
  min-height: 100vh;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding-top: 25px;
}
.hero .slogans h2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  color: #0C0E36;
  margin-bottom: 15px;
}
.hero .slogans p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #3A3A3A;
  margin-bottom: 40px;
}
.hero .buttons {
  display: flex;
  flex-direction: column;
}
.hero .buttons .pass {
  max-width: 240px;
  min-height: 49px;
  padding: 15px 27px;
  background: #F70058;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
  margin-bottom: 15px;
  padding: 5px;
  cursor: pointer;
}
.hero .buttons .pass:hover {
  background-color: rgb(4, 12, 12);
  transition: all 0.3s ease-in;
}
.hero .buttons .tickets {
  max-width: 167px;
  min-height: 49px;
  padding: 5px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #F70058;
  border: 5px solid #F70058;
  cursor: pointer;
}
.hero .buttons .tickets:hover {
  background-color: #ffffff;
  transition: all 0.3s ease-in;
}

header .container nav .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
}
header .container nav .menu li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  text-transform: uppercase;
  color: #0C0E36;
  margin-bottom: 25px;
}
header .container nav .menu li a {
  text-decoration: none;
  color: #0C0E36;
}
header .container .topnav {
  display: none;
}
header .container .topnav.active {
  display: block;
  min-height: 100vh;
}
header .container .nav-container {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-block;
  cursor: pointer;
}
header .container .bar1, header .container .bar2, header .container .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: all 0.3s ease;
}
header .container .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
header .container .change .bar2 {
  opacity: 0;
}
header .container .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (min-width: 996px) {
  .container {
    max-width: 996px;
    margin: 0 auto;
    padding: 0 15px;
  }
  header {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
  }
  header .container {
    min-height: 83px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  header .container .topnav {
    display: block;
  }
  header .container .topnav .menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    padding-top: 0;
  }
  header .container .topnav .menu li {
    margin-right: 60px;
    font-size: 14px;
    margin-bottom: 0;
  }
  header .container .topnav .menu .end {
    margin-right: 0;
  }
  header .nav-container {
    display: none;
  }
  header .icon {
    max-width: 178px;
    max-height: 20px;
  }
  header .empty {
    width: 150px;
  }
  header .weather {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
  }
  header .weather .icon-weather {
    max-width: 75px;
    max-height: 83px;
    background-color: #F70058;
  }
  header .weather .weather-list {
    display: flex;
    flex-direction: column;
    max-height: 83px;
    background-color: #0C0E36;
    padding-top: 19px;
    padding-right: 13px;
    padding-left: 9px;
  }
  header .weather .weather-list span {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7019607843);
    margin-bottom: 20px;
  }
  header .weather .weather-list .celcius::after {
    content: " -6°C";
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
  }
  header .weather .weather-list .snowfall {
    margin-bottom: 0;
  }
  header .weather .weather-list .snowfall::after {
    content: " 35cm";
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
  }
  .hero {
    min-height: 100vh;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding-top: 186px;
  }
  .hero .slogans h2 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    color: #0C0E36;
    margin-bottom: 33px;
    max-width: 450px;
  }
  .hero .slogans p {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #3A3A3A;
    margin-bottom: 65px;
    max-width: 615px;
  }
  .hero .buttons {
    display: flex;
    flex-direction: row;
  }
  .hero .buttons .pass {
    min-width: 240px;
    max-width: 240px;
    min-height: 49px;
    padding: 15px 27px;
    background: #F70058;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0;
    margin-bottom: 0;
    padding: 5px;
    margin-right: 23px;
  }
  .hero .buttons .tickets {
    width: 167px;
    min-height: 49px;
    max-height: 49px;
    padding: 5px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #F70058;
    border: 5px solid #F70058;
  }
}

/*# sourceMappingURL=style.css.map */
