header {
    min-height: 83px;
    padding-top: 15px;
    padding-bottom: 15px;

    .container {

        nav {

            .menu {
                display: none;

                li {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 16px;
                    text-transform: uppercase;
                    color: #0C0E36;
                    a {
                        text-decoration: none;
                        color: #0C0E36;
                    }
                }
            }
        }
    }

    .icon {
        max-width: 150px;
        max-height: 25px;
    }

    .weather {
        display: flex;
        flex-direction: row;

        .icon-weather {
            max-width: 75px;
            min-height: 83px;
            background-color: $colorRed;
            padding: 24px 11px;

            .icon {
                width: 51px;
                height: 33px;
            }
        }
        
        .weather-list {
            display: flex;
            flex-direction: column;
            min-height: 83px;
            background-color: #0C0E36;
            padding-top: 19px;
            padding-right: 13px;
            padding-left: 9px;

            span {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 900;
                font-size: 10px;
                letter-spacing: 0.075em;
                text-transform: uppercase;
                color: #ffffffb3;
                margin-bottom: 20px;
            }


            .celcius::after {
                content: ' -6°C';
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
            }

            .snowfall {
                margin-bottom: 0;
            }

            .snowfall::after {
                content: ' 35cm';
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
            }
        }
        
    }


}